.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(255, 0, 234);
  padding: 30px;
}

.header{
  padding: 20px;
}

h1 { 
    color: maroon;
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: rgb(27, 210, 60);
}